In [4]:
import pandas as pd 

df = pd.read_excel("Attendance list kosong.xlsx",skiprows=3)
df.head()

,NO,COMPANY,FIRST NAME,LAST NAME,JOB TITLE,BUSINESS EMAIL,MOBILE NUMBER,SHOW
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
for i, row in df.iterrows():
    print(row["COMPANY"])

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan